body{
    text-align: center;
}
input{
    text-align: center;
    width:80px;
}
#saida{
    width: 100px;
}
#opera{
    width: 60px;
}
ul{
    text-align: left;
}
h4{
    text-align: left;
}
li{
    text-decoration: underline;
}